.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.text {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.gameBord {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 320px;
  min-height: 320px;
  background-color:darkgrey;
  position: relative;
}

.item {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  border: 1px solid rgb(175, 175, 175);
  box-sizing: border-box;
}

.game-over {
  position: absolute;
  color: azure;
  top: 35%;
  left: 25%;
  text-shadow: 2px 2px 2px #000;
}

.App section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  color: #FFF;
}

.App section p {
  font-size: 20px;
  text-shadow: 2px 2px 2px #000;
}
